html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1,h2 {
  font-family: BebasNeue, serif;
}

img {
  max-width: 100%;
  height: auto;
}

.splash {
  box-sizing: border-box;
  height: 100%;
  padding-top: 6.5rem;

  background: #00adef;
  text-align: center;
}

.splash h1 {
  color: #FFFFFF;
  font-size: 10rem;
}

.splash h1 .ell {
  color: #ec008c;
}

.splash h1 .amp{
  font-size: 12rem;
  font-family: Garamond, serif;
}

@media(max-width: 500px) {
  .splash h1 .amp {
    display: block;  /* "&" gets its own line */
  }
}

.splash h2 {
  color: #FFFFFF;
  font-size: 4rem;
  font-family: Garamond, serif;
  margin-top: -4rem;
}

.splash a {
  color: #FFFFFF;
  background: #393536;
  font-size: 2rem;
  vertical-align: top;
  border-width: 0;
  margin-top: -2rem;
}

.splash a:hover {
  background: #ec008c;
  color: #fff;
}

.splash .details,
.splash .img-wrapper {
  background-color: #00adef;
}

.splash .img-wrapper {
  position: relative;
  width: 100%;

  /* Flexbox is a better solution for "fill the rest of the screen" */
  height: calc(100% - 22rem);  /* height of screen minus approx height of text content */
}

.splash .cute-photo {
  background: url('../img/eliot_and_michele_skyline.png') no-repeat;
  background-position: 53% 0;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.details-page {
  background: url(../img/9ofs.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.details-page .spacer {
  box-sizing: border-box;
  padding-top: 9.5rem;
  position: static;
  z-index: 2;
}

.details-page .container {
  background-color: #fff;
  opacity: 0.96;
  box-sizing: border-box;
  padding: 3rem;
  position: static;
  z-index: 2;
}

.details-page h1 {
  text-align: center;
}

.details-page p {
  text-align: center;
}

.details-page .row {
  padding: 2rem 2rem 1rem 2rem;
}

.details-page .map {
  text-align: center;
  vertical-align: middle;
}

.details-page .map iframe {
  border: 0;
  height: 300px;
}

@media screen and (max-width: 549px) {
  .details-page .text {
    padding-top: 2rem;
  }
}

.details-page .address p {
  margin: 0;
}

.details-page .address p:first-child {
  margin-bottom: 1.5rem;
}

.details-page .address p:last-child {
  margin-bottom: 1.5rem;
}

.details-page .venue-title {
  font-family: BebasNeue, serif;
  font-size: 2rem;
}

.navbar {
  position: fixed;
  box-sizing: border-box;
  font-family: BebasNeue, serif;
}

.navbar + .docs-section {
  border-top-width: 0;
}

.navbar,
.navbar-spacer {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.navbar-spacer {
  display: none;
}

.navbar + .container {
  padding-top: 7.5rem;
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

.navbar-link.active {
  color: #33C3F0;
}

.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.has-docked-nav .navbar-spacer {
  display: block;
}

/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
  width: 100%;
}

.rsvp-row {
  max-height: 2rem;
  transition: max-height 10s ease;
  -webkit-transition: max;
}

.rsvp-row.visible {
  max-height: 2rem;
}

.rsvp-row.hidden {
  max-height: 0;
  overflow: hidden;
}

input.error {
  background: lightpink;
}

fieldset.error {
  background: lightpink;
}
