html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1,h2 {
  font-family: BebasNeue, serif;
}

img {
  max-width: 100%;
  height: auto;
}

.splash {
  box-sizing: border-box;
  height: 100%;
  padding-top: 6.5rem;

  background: #00adef;
  text-align: center;
}

.splash h1 {
  color: #FFFFFF;
  font-size: 10rem;
  line-height: 10rem;
}

.splash h1 .ell {
  color: #ec008c;
}

.splash h1 .amp{
  font-size: 12rem;
  font-family: "EB Garamond", serif;
}

/*@media(max-width: 500px) {*/
  /*.splash h1 .amp {*/
    /*display: block;  !* "&" gets its own line *!*/
  /*}*/
/*}*/

.splash .subtext {
  color: #FFFFFF;
  font-size: 4rem;
  font-family: "EB Garamond", serif;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.splash .subtext img {
  height: 3.5rem;
  margin: auto;
}

@media(max-width: 533px) {
  .splash .subtext img {
    display: block;
  }
}

.splash a {
  color: #FFFFFF;
  background: #393536;
  font-size: 2rem;
  vertical-align: top;
  border-width: 0;
  margin-top: 1rem;
  font-family: BebasNeue, serif;
  font-k
}

.splash a:hover {
  background: #ec008c;
  color: #fff;
}

.splash .details,
.splash .img-wrapper {
  background-color: #00adef;
}

.splash .img-wrapper {
  position: relative;
  width: 100%;

  /* Flexbox is a better solution for "fill the rest of the screen" */
  height: calc(100% - 23rem);  /* height of screen minus approx height of text content */
}

.splash .cute-photo {
  background: url('../img/eliot_and_michele_skyline.svg') no-repeat;
  background-position: 53% 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.details-page {
  background: url(../img/9ofs.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.details-page .spacer {
  box-sizing: border-box;
  padding-top: 9.5rem;
  position: static;
  z-index: 2;
}

.details-page .container {
  box-sizing: border-box;
  position: static;
  z-index: 2;
}

.details-page .section:first-of-type {
  margin-top: 8rem;
  padding-top: 1rem;
}

.details-page .section {
  margin-top: 2rem;
  background-color: #FFFFFF;
  opacity: 0.96;
  padding: 3rem 5rem 3rem 5rem;
}

@media(max-width: 800px) {
  .details-page .section {
    padding: 2rem 2rem 2rem 2rem;
  }

  .details-page .container {
    width: 92%
  }
}

.details-page h1 {
  text-align: center;
}

.details-page p {
  text-align: center;
}

.details-page .map {
  text-align: center;
  vertical-align: middle;
}

.details-page .map iframe {
  border: 0;
  height: 300px;
}

@media screen and (max-width: 549px) {
  .details-page .text {
    padding-top: 2rem;
  }
}

.details-page .address p {
  margin: 0;
}

.details-page .address p:first-child {
  margin-bottom: 1.5rem;
}

.details-page .address p:last-child {
  margin-bottom: 1.5rem;
}

.details-page .venue-title {
  font-family: BebasNeue, serif;
  font-size: 2rem;
}

.navbar {
  position: fixed;
  box-sizing: border-box;
  font-family: BebasNeue, serif;
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.navbar + .container {
  padding-top: 7.5rem;
  width: 100%;
}

.navbar-list {
  list-style-type: none;
  margin-bottom: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.navbar-item {
  position: relative;
  margin-bottom: 0;
  display: inline;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

.navbar-link.active {
  color: #33C3F0;
}

h3 {
  clear: both;
  font-size: 2rem
}

.rsvp-row {
  height: 2rem;
  line-height: 2rem;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.rsvp-row h3 {
  display: none;
}

#rsvp-form .visible {
  opacity: 1;
  overflow: visible;
  height: 2rem;
  line-height: 2rem;
}

#rsvp-form .hidden {
  opacity: 0;
  overflow: hidden;
  height: 0;
  line-height: 0;
}

@media(max-width: 550px) {
  #rsvp-form {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .rsvp-row h3 {
    display: block;
  }
}

input.error {
  background: lightpink;
}

fieldset.error {
  background: lightpink;
}

.airbnb {
  background-color: #FF656B;
}

.airbnb img {
  width: 300px;
}

.registry:first-of-type {
  padding-top: 8rem;
}

.registry:nth-of-type(2) {
  padding-top: 9rem;
}

.registry:nth-of-type(3) {
  padding-top: 11rem;
}

