{% import "person_layout.html" as person_layout %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<h1>People</h1>
<form method="POST" action="{{ url_for('admin.people') }}">
    <ul>
        <li><label>Name</label><input name="name" type="text"></li>
        <li><label>Title</label><input name="title" type="text"</li>
        <li><label>Bio</label><textarea></textarea></li>
        <li><button type="submit">Submit</button></li>
    </ul>
</form>
{% for person_ in people %}
{{ person_layout.person(person_) }}
{% endfor %}
</body>
</html>
