{% extends "base.html" %}
{% block body %}
<div class="details-page">
<div class="spacer"></div>
<div class="container">
  <h1>The Wedding</h1>
  <div class="row">
    <div class="map six columns">
      <iframe class="u-full-width" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD2wKguO9cc4GhsawQS6Ut4Ek9s9s5z5_4&q=9ofs,Boston+MA">
      </iframe>
    </div>
    <div class="text six columns">
      <div class="address">
        <p>5:00pm Saturday, June 3rd 2017</p>
        <p><span class="venue-title">9OFS</span></p>
        <p>1 Federal Street</p>
        <p>Boston, MA 02110</p>
      </div>
      <p>Our celebration will take place at the rooftop gallery 9OFS located in Boston's Financial District at 1 Federal Street.</p>
      <p>The evening will begin on the lawn with a short ceremony at 5:00pm. Afterwards please join us for cocktails, dinner, dancing, lawn games and festivities!</p>
    </div>
  </div>
</div>
</div>
{% endblock %}
