<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New RSVP</title>
</head>
<body>
<h1>New Wedding RSVP</h1>
<table>
  <tr>
    <th>RSVP Time</th>
    <th>Title</th>
    <th>First</th>
    <th>Last</th>
    <th>Attending?</th>
    <th>Entree</th>
  </tr>
  {% for attendee in attendees %}
  <tr>
    <td>{{ attendee.rsvped_at_local }}</td>
    <td>{{ attendee.title if attendee.title else "-" }}</td>
    <td>{{ attendee.first_name }}</td>
    <td>{{ attendee.last_name }}</td>
    <td>{{ attendee.attending }}</td>
    <td>{{ attendee.dinner_option }}</td>
  </tr>
  {% endfor %}
</table>
<h2>Comments</h2>
{{ attendees[0].comments if attendees[0].comments else 'None' }}
</body>
</html>
