{% extends "base.html" %}
{% block body %}
<div class="splash">
  <div class="details">
    <h1>E<span class="ell">l</span>iot <span class="amp">&</span> Miche<span class="ell">l</span>e</h1>
    <div class="subtext"><span>June 3rd, 2017</span><img class="bone-photo" src="{{ url_for('static', filename='img/bone.svg') }}"><span>Boston, MA</span></div>
    <a class="button" href="/rsvp">RSVP</a>
  </div>
  <div class="img-wrapper">
    <div class="cute-photo"></div>
  </div>
</div>
{% endblock %}
 />
