{% extends "contained.html" %}
{% block header %}
  <script src="{{ url_for('static', filename='js/rsvp.js') }}"></script>
{% endblock %}
{% block container %}
<h3>Please RSVP below for each invitee listed on your save the date or invitation.</h3>
<form id="rsvp-form" xmlns="http://www.w3.org/1999/html" action="/rsvp" method="POST">
  <div class="row">
    <div class="one columns">
      <label for="num_guests">No. of Guests</label>
      <select name="num_guests" class="u-full-width" id="num_guests">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </div>
  {% for i in [0, 1, 2, 3] %}
  <div class="row twelve columns rsvp-row{{ ' hidden' if i > 0 else ' visible' }}">
    <h3>Guest {{ i + 1 }}</h3>
    <div class="twelve columns row">
      <div class="two columns">
        <label for="name_title">Title</label>
        <select name="name_title_{{ i }}" class="u-full-width" id="name_title">
          <option selected disabled>Select</option>
          <option value="Mrs.">Mrs.</option>
          <option value="Mr.">Mr.</option>
          <option value="Dr.">Dr.</option>
          <option value="Ms.">Ms.</option>
        </select>
      </div>
      <div class="two columns">
        <label for="first_name">First</label>
        <input name="first_name_{{ i }}" class="u-full-width" type="text" placeholder="First Name" id="first_name">
      </div>
      <div class="two columns">
        <label for="last_name">Last</label>
        <input name="last_name_{{ i }}" class="u-full-width" type="text" placeholder="Last Name" id="last_name">
      </div>
      <div class="two columns">
        <fieldset id="attending-group">
          <label for="">
            <label>Attending?</label>
            <span class="radio-option">
              <input type="radio" class="attending" name="attending_{{ i }}" id="attending_yes_{{ i }}" value="yes" />
              <span class="label-body">Yes</span>
            </span>
            <span class="radio-option">
              <input type="radio" class="attending" name="attending_{{ i }}" id="attending_no_{{ i }}" value="no" />
              <span class="label-body">No</span>
            </span>
          </label>
        </fieldset>
      </div>
      <div class="two columns">
        <label for="dinner_option">Entree</label>
        <select name="dinner_option_{{ i }}" class="u-full-width form-disabled" id="dinner_option" disabled>
          <option selected disabled>Select</option>
          <option value="Fish">Fish</option>
          <option value="Beef">Beef</option>
          <option value="Vegetarian">Vegetarian</option>
        </select>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row twelve columns">
    <div class="four columns">
      <label for="comments">Comments?</label>
      <textarea name="comments" class="u-full-width" placeholder="Dear Eliot & Michele …" id="comments"></textarea>
      <input class="button-primary" type="submit" value="Submit">
    </div>
  </div>
</form>
{% endblock %}
